{% extends "base.html" %}

{% block main_container %}

<div class="jumbotron">
    <h1>eat gluten-free in liverpool</h1>
</div>

<div class="page-header">
    <h1>
    Helping you find gluten-friendly restaurants in the city of Liverpool.
    </h1>

</div>

<div id="about">
    <div class="page-header">
        <h1>About</h1>

        <p class="lead">
        I started this site because I wanted to be able to share reviews and
        recommendations with other coeliacs and sufferers of gluten allergies
        and intolerances.
        </p>

        <p class="lead">
        Eating out can be awkward for people with a gluten-free diet as some
        restaurants are hopeless! Fortunately, many are getting clued up and it
        seems to be getting easier to find good quality gluten-free places to
        eat.
        </p>

        <p class="lead">
        I want to promote <b>gluten friendly</b> restaurants - those who
        understand our needs and can accommodate us. But I can't do it on my
        own - can you write a review?
        </p>

        <p class="lead"><a href="#contact">Get in touch</a></p>
        <p class="lead">Thanks,<br />Paul</p>



    </div>
</div>

<div id="for-businesses">
    <div class="page-header">
        <h1>For Businesses</h1>
        <p class="lead">
        It's essential that you that gluten-free requests are taken seriously
        and answered accurately, as many coeliacs can become extremely ill from
        small exposure. Others are less sensitive; good information is key.
        </p>

        <p class="lead">
        <a href="http://www.coeliac.org.uk">Coeliac UK</a> produce many good resources:
        <ul>
            <li><a href="https://www.coeliac.org.uk/food-industry-professionals/">Food Industry Professionals</a></li>
            <li><a href="https://www.coeliac.org.uk/food-industry-professionals/gluten-free-and-the-law/">Gluten-free and the law</a></li>
        </ul>
        </p>
    </div>
</div>

<div id="contact">
    <div class="page-header">
        <h1>Contact</h1>
        <p class="lead">
        I'd love to add your restaurant experiences to the site! Please send
        any reviews, recommendations, general feedback or ideas my way and
        I'll incorporate it as soon as possible.
        <p class="lead">
        It's really useful if you can include this kind of detail in your
        review:
        <ul>
            <li>Were they able to provide a gluten-free menu?</li>
            <li>Were the staff clued up on what gluten-free means?</li>
            <li>Did they have a good selection of gluten-free food?</li>
        </ul>
        </p>

       <address>
            <abbr title="Email">Email:</abbr>
            <a href="mailto:eatgf@paulfurley.com">eatgf@paulfurley.com</a>
        </address>
        </p>
        <p>
        This is a spare-time project, so please forgive me if I'm slow to reply.
        </p>
    </div>
</div>

{% endblock %}
