{% extends "base.html" %}

{% block title %}{{ object.name }} restaurant in {{ object.location.name }} | eatglutenfree{% endblock %}

{% block main_container %}

<div class="page-header">
    <h1>{{ object.name }}</h1>
    {% if object.website %}
    <h2><a href="{{ object.website }}">{{ object.website }}</a></h2>
    {% endif %}

    {% for comment in comments %}
    <blockquote>
        <p>{{ comment.text }}</p>
        <footer>{{ comment.author.first_name }}</footer>
        </blockquote>
    {% endfor %}
</div>

{% endblock %}
